.page-site {

	.page-content {
		margin-bottom: 3rem;
		padding-bottom: 3rem;
		border-top: none;
		border-bottom: 1px solid @faded-grey;
	}

	.site-journal {
		margin-bottom: 3rem;
	}

	.site-journal-img img {
		margin-bottom: 1rem;
		max-height: 10rem;
	}
}
