.alert {
	border-radius: 0;

	.form-error-list {
		font-size: 16px;
	}
}

.alert-primary {
	background: @primary;
	border-color: @primary;
	color: #fff;

	a,
	a:hover,
	a:focus {
		color: #fff;
		text-decoration: underline;
	}
}

.alert-danger {
	background: @warning;
	color: #fff;

	a,
	a:hover,
	a:focus {
		color: #fff;
		text-decoration: underline;
	}
}

.alert-info {
	background: @primary-light;
}
