/**
  Variables
 */

// Colour palette

@light-grey:        #F7F7F7;
@mid-grey:          #757575;
@dark-grey:         #333;
@pale-turquoise:    #BEE;
@turquoise:         #10BECA;

// Typefaces

@font-sans:         'Fira Sans', sans-serif;
@font-serif:        'Droid Serif', serif;
